*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #05A632;
}

html {
  font-size: 62.5%;
}

#app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

#tela {
  position: absolute;
  top: 27.8%;
  left: 13%;
  width: 27%;
  height: 31%;
  background-image: url(../img/cenarios/fogo.png);
  background-size: cover;
  border-radius: 5%;
  border: solid black 1px;
}
#tela #pokemonGif {
  position: absolute;
  max-height: 90%;
  max-width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#pesquisa {
  background-color: red;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
#pesquisa input {
  position: absolute;
  height: 10%;
  top: 81.8%;
  width: 25%;
  left: 5%;
  background-color: #FAFA05;
  border: solid black 1.5px;
  padding: 0.5rem;
  border-radius: 1rem;
  opacity: 1;
  font-size: 1.5rem;
  text-align: center;
}
#pesquisa input::-moz-placeholder {
  opacity: 0.8;
}
#pesquisa input:-ms-input-placeholder {
  opacity: 0.8;
}
#pesquisa input::placeholder {
  opacity: 0.8;
}
#pesquisa input::first-letter {
  text-transform: uppercase;
}
#pesquisa input:focus {
  outline: none;
}
#pesquisa #pesquisaPokemonBtn {
  position: absolute;
  width: 5.1%;
  height: 6.8%;
  top: 70.5%;
  left: 6%;
  border-radius: 50%;
  background-color: #307AFA;
  border-color: rgba(0, 0, 0, 0.8);
  border-width: 0.5px;
  border-style: double;
  cursor: pointer;
}
#pesquisa #pesquisaPokemonBtn:active {
  width: 5%;
  height: 6.7%;
}

#pokemonInfo {
  position: absolute;
  width: 38%;
  height: 50%;
  background-color: #7d3333;
  top: 30%;
  left: 58%;
  border-radius: 1rem;
  border: solid 0.5px rgba(0, 0, 0, 0.8);
}
#pokemonInfo #pokemonNome {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #f8f9fa;
  text-shadow: black 2px 0px 2px;
}
#pokemonInfo #pokemonTipo {
  display: flex;
  width: 20.5rem;
  justify-content: center;
  margin: 0 auto;
}
#pokemonInfo #pokemonTipo #pokemonTipo1 {
  margin-right: 0.5rem;
}
#pokemonInfo #pokemonTipo .tipo {
  padding: 0.7rem;
  width: 10rem;
  height: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  border: solid 0.5px rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #f8f9fa;
  font-weight: bold;
}
#pokemonInfo #pokemonTipo .grass {
  background-color: #7c5;
}
#pokemonInfo #pokemonTipo .poison {
  background-color: #a59;
}
#pokemonInfo #pokemonTipo .water {
  background-color: #39f;
}
#pokemonInfo #pokemonTipo .fire {
  background-color: #f42;
}
#pokemonInfo #pokemonTipo .bug {
  background-color: #ab2;
}
#pokemonInfo #pokemonTipo .normal {
  background-color: #aa9;
}
#pokemonInfo #pokemonTipo .electric {
  background-color: #fc3;
}
#pokemonInfo #pokemonTipo .ground {
  background-color: #db5;
}
#pokemonInfo #pokemonTipo .fairy {
  background-color: #e9e;
}
#pokemonInfo #pokemonTipo .fighting {
  background-color: #b54;
}
#pokemonInfo #pokemonTipo .psychic {
  background-color: #f59;
}
#pokemonInfo #pokemonTipo .rock {
  background-color: #ba6;
}
#pokemonInfo #pokemonTipo .ghost {
  background-color: #66b;
}
#pokemonInfo #pokemonTipo .ice {
  background-color: #6cf;
}
#pokemonInfo #pokemonTipo .dragon {
  background-color: #76e;
}
#pokemonInfo #pokemonTipo .dark {
  background-color: #754;
}
#pokemonInfo #pokemonTipo .steel {
  background-color: #aab;
}
#pokemonInfo #pokemonTipo .flying {
  background-color: #89f;
}

#XMLID_116_ {
  opacity: 0.5;
}

#XMLID_115_ {
  opacity: 0.5;
}

#pokeDescript {
  position: relative;
  top: 1rem;
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
}

#controleDireito {
  position: absolute;
  top: 77.5%;
  left: 40%;
  right: 0;
  width: 4.6%;
  height: 5%;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

#controleEsquerdo {
  position: absolute;
  top: 77.5%;
  left: 32.7%;
  right: 0;
  width: 4.6%;
  height: 5%;
  background-color: rgba(107, 219, 15, 0);
  cursor: pointer;
}

.hidden {
  display: none;
}

#pokemonStats {
  margin-top: 1.5rem;
  display: block;
}
#pokemonStats #boxStats {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: 90%;
}
#pokemonStats #boxStats .statusNome {
  width: 5rem;
  padding: 0 1rem;
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
  text-align: center;
  color: #f8f9fa;
  font-weight: bold;
  border: solid 0.5px rgba(0, 0, 0, 0.8);
  letter-spacing: 0.1rem;
  text-shadow: rgba(0, 0, 0, 0.7) 1.5px 0px 1.5px;
  border-radius: 0.3rem;
}
#pokemonStats #boxStats .HP {
  background-color: #FF5959;
}
#pokemonStats #boxStats .ATK {
  background-color: #F08030;
}
#pokemonStats #boxStats .DEF {
  background-color: #F8D030;
}
#pokemonStats #boxStats .SPATK {
  background-color: #6890F0;
}
#pokemonStats #boxStats .SPDEF {
  background-color: #78C850;
}
#pokemonStats #boxStats .SPEED {
  background-color: #F85888;
}
#pokemonStats #boxStats .bar {
  position: relative;
  background-color: #ffffff;
  height: 1rem;
  width: 100%;
  margin-bottom: 0.4rem;
  border: solid 0.5px rgba(0, 0, 0, 0.4);
}
#pokemonStats #boxStats .bar:last-child {
  margin-bottom: 0;
}
#pokemonStats #boxStats .bar .barFillHP {
  position: absolute;
  height: 100%;
  background-color: #FF5959;
  width: 15%;
}
#pokemonStats #boxStats .bar .barFillATK {
  position: absolute;
  height: 100%;
  background-color: #F08030;
  width: 16.33%;
}
#pokemonStats #boxStats .bar .barFillDEF {
  position: absolute;
  height: 100%;
  background-color: #F8D030;
  width: 16.33%;
}
#pokemonStats #boxStats .bar .barFillSPATK {
  position: absolute;
  height: 100%;
  background-color: #6890F0;
  width: 21.66%;
}
#pokemonStats #boxStats .bar .barFillSPDEF {
  position: absolute;
  height: 100%;
  background-color: #78C850;
  width: 21.66%;
}
#pokemonStats #boxStats .bar .barFillSPEED {
  position: absolute;
  height: 100%;
  background-color: #F85888;
  width: 15%;
}

.st0 {
  fill: #05A632;
}

.st1 {
  fill: #050505;
}

.st2 {
  fill: #05A632;
}

.st3 {
  fill: #F23838;
}

.st4 {
  fill: #E23434;
}

.st5 {
  fill: #A31111;
}

.st6 {
  fill: #9A0505;
}

.st7 {
  fill: #940505;
}

.st8 {
  fill: #900505;
}

.st9 {
  fill: #950505;
}

.st10 {
  fill: #930505;
}

.st11 {
  fill: #910505;
}

.st12 {
  fill: #8F0505;
}

.st13 {
  fill: #920505;
}

.st14 {
  fill: #8B0505;
}

.st15 {
  fill: #8E0505;
}

.st16 {
  fill: #AFAFAF;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st17 {
  fill: #656565;
}

.st18 {
  fill: #056565;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st19 {
  fill: #FAFA05;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st20 {
  fill: #307AFA;
  stroke: #231F20;
  stroke-miterlimit: 10;
}

.st21 {
  fill: #FA6505;
  stroke: #231F20;
  stroke-miterlimit: 10;
}

.st22 {
  fill: #50FA05;
  stroke: #231F20;
  stroke-miterlimit: 10;
}

.st23 {
  fill: #FAFAFA;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st24 {
  fill: #4FF905;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st25 {
  fill: #F90505;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st26 {
  fill: #F9F905;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st27 {
  fill: #890505;
}

.st28 {
  fill: #8C0505;
}

.st29 {
  fill: #860505;
}

.st30 {
  fill: #870505;
}

.st31 {
  fill: #101010;
}

.st32 {
  fill: #A5FA6D;
}

.st33 {
  fill: #FA7373;
}

.st34 {
  fill: #FAFA8F;
}

.st35 {
  fill: #FA0505;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st36 {
  fill: #F00505;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st37 {
  fill: #F40505;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st38 {
  fill: #057979;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st39 {
  fill: #05FAFA;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st40 {
  fill: #70EF52;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st41 {
  fill: #FA9A05;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st42 {
  fill: #9AFACF;
}/*# sourceMappingURL=style.css.map */