#app{
  // background-color: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

#tela{
  position: absolute;
  top: 27.8%;
  left: 13%;
  width: 27%;
  height: 31%;
  background-image: url(../img/cenarios/fogo.png);
  background-size: cover;
  // background-color: white;
  border-radius: 5%;
  border: solid black 1px;

  #pokemonGif{
    position: absolute;
    // height: 70%;
    max-height: 90%;
    max-width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}
#pesquisa{
  background-color: red;
  width: max-content;
  input{
    position: absolute;
    height: 10%;
    top: 81.8%;
    width: 25%;
    left: 5%;
    background-color: #FAFA05;
    border: solid black 1.5px;
    padding: .5rem;
    border-radius: 1rem;
    opacity: 1;
    font-size: 1.5rem;
    text-align: center;
    &::placeholder{
      opacity: .8;
  }
    &::first-letter{
      text-transform: uppercase;
    }
    &:focus{
      outline: none;
    }
  }
  #pesquisaPokemonBtn{
    position: absolute;
    width: 5.1%;
    height: 6.8%;
    top: 70.5%;
    left: 6%;
    border-radius: 50%;
    background-color: #307AFA;
    border-color: rgba(0, 0, 0, 0.8);
    border-width: .5px;
    border-style: double;
    cursor: pointer;
    &:active{
      width: 5%;
      height: 6.7%;
    }
  }
}
#pokemonInfo{
  position: absolute;
  width: 38%;
  height: 50%;
  background-color: #949393;
  top: 30%;
  left: 58%;
  border-radius: 1rem;
  border: solid .5px rgba(0, 0, 0, 0.8);
    #pokemonNome{
      width: fit-content;
      font-size: 3rem;
      text-transform: uppercase;
      margin: 0 auto;
      font-weight: bold;
      margin-top: .5rem;
      margin-bottom: .5rem;
      color: #f8f9fa;
      text-shadow: black 2px 0px 2px;
    }
    #pokemonTipo{
      display: flex;
      width: 20.5rem;
      justify-content: center;
      margin: 0 auto;
      #pokemonTipo1{
        margin-right: .5rem;
      }
      .tipo{
        padding: .7rem;
        width: 10rem;
        height: 3rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        font-size: 1.5rem;
        border-radius: .3rem;
        border: solid .5px rgba(0, 0, 0, 0.8);
        text-align: center;
        color: #f8f9fa;
        font-weight: bold;
      }
      .grass{
        background-color: #7c5;
      }
      .poison{
        background-color: #a59;
      }
      .water{
        background-color: #39f;
      }
      .fire{
        background-color: #f42;
      }
      .bug{
        background-color: #ab2;
      }
      .normal{
        background-color: #aa9;
      }
      .electric{
        background-color: #fc3;
      }
      .ground{
        background-color: #db5;
      }
      .fairy{
        background-color: #e9e;
      }
      .fighting{
        background-color: #b54;
      }
      .psychic{
        background-color: #f59;
      }
      .rock{
        background-color: #ba6;
      }
      .ghost{
        background-color: #66b;
      }
      .ice{
        background-color: #6cf;
      }
      .dragon{
        background-color: #76e;
      }
      .dark{
        background-color: #754;
      }
      .steel{
        background-color: #aab;
      }
      .flying{
        background-color: #89f;
      }
    }
}

#XMLID_116_{
  opacity: .5;
}
#XMLID_115_{
  opacity: .5;
}
#pokeDescript{
  position: relative;
  top: 1rem;
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
}
#controleDireito{
  position: absolute;
  top: 77.5%;
  left: 40%;
  right: 0;
  width: 4.6%;
  height: 5%;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
#controleEsquerdo{
  position: absolute;
  top: 77.5%;
  left: 32.7%;
  right: 0;
  width: 4.6%;
  height: 5%;
  background-color: rgba(107, 219, 15, 0);
  cursor: pointer;
}
.hidden{
  display: none;
}
#pokemonStats{
  margin-top: 1.5rem;
  display: block;
  #boxStats{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    width: 90%;
    // height: 100%;
    // background-color: #66b;
    .statusNome{
      width: 5rem;
      padding: 0 1rem;
      // background-color: #396E3F;
      font-size: 1.3rem;
      margin-bottom: .2rem;
      text-align: center;
      color: #f8f9fa;
      font-weight: bold;
      border: solid 0.5px rgba(0, 0, 0, 0.8);
      letter-spacing: .1rem;
      text-shadow: rgba(0, 0, 0, 0.7) 1.5px 0px 1.5px;
      border-radius: .3rem;
    }
    .HP{
      background-color: #FF5959;
    }
    .ATK{
      background-color: #F08030;
    }
    .DEF{
      background-color: #F8D030;
    }
    .SPATK{
      background-color: #6890F0;
    }
    .SPDEF{
      background-color: #78C850;
    }
    .SPEED{
      background-color: #F85888;
    }
    .bar{
      position: relative;
      background-color: #ffffff;
      height: 1rem;
      width: 100%;
      margin-bottom: .4rem;
      border: solid 0.5px rgba(0, 0, 0, 0.4);
      &:last-child{
        margin-bottom: 0;
      }
      .barFillHP{
        position: absolute;
        height: 100%;
        background-color: #FF5959;
        width: 15%;
      }
      .barFillATK{
        position: absolute;
        height: 100%;
        background-color: #F08030;
        width: 16.33%;
      }
      .barFillDEF{
        position: absolute;
        height: 100%;
        background-color: #F8D030;
        width: 16.33%;
      }
      .barFillSPATK{
        position: absolute;
        height: 100%;
        background-color: #6890F0;
        width: 21.66%;
      }
      .barFillSPDEF{
        position: absolute;
        height: 100%;
        background-color: #78C850;
        width: 21.66%;
      }
      .barFillSPEED{
        position: absolute;
        height: 100%;
        background-color: #F85888;
        width: 15%;
      }
    }
  }
}
#botaoStatus{
  position: absolute;
  top: 83%;
  left: 61%;
  width: 14%;
  height: 8.9%;
  background-color: #307AFA;
  border: solid 0.5px rgba(0, 0, 0, 0.8);
  border-radius: .5rem;
  opacity: .9;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 1.8rem;
  padding: 1rem;
  letter-spacing: .2rem;
  // font-weight: bold;
  color: #fff;
  text-shadow: black 2px 0px 2px;
  &:hover{
    opacity: 1;
  }
}
#botaoInfo{
  position: absolute;
  top: 83%;
  left: 78%;
  width: 14%;
  height: 8.9%;
  background-color: #307AFA;
  border: solid 0.5px rgba(0, 0, 0, 0.8);
  border-radius: .5rem;
  opacity: .9;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 1.8rem;
  padding: 1rem;
  letter-spacing: .2rem;
  // font-weight: bold;
  color: #fff;
  text-shadow: black 2px 0px 2px;
  &:hover{
    opacity: 1;
  }
}