.st0{fill:#05A632;}
.st1{fill:#050505;}
.st2{fill:#05A632;}
.st3{fill:#F23838;}
.st4{fill:#E23434;}
.st5{fill:#A31111;}
.st6{fill:#9A0505;}
.st7{fill:#940505;}
.st8{fill:#900505;}
.st9{fill:#950505;}
.st10{fill:#930505;}
.st11{fill:#910505;}
.st12{fill:#8F0505;}
.st13{fill:#920505;}
.st14{fill:#8B0505;}
.st15{fill:#8E0505;}
.st16{fill:#AFAFAF;stroke:#000000;stroke-miterlimit:10;}
.st17{fill:#656565;}
.st18{fill:#056565;stroke:#000000;stroke-miterlimit:10;}
.st19{fill:#FAFA05;stroke:#000000;stroke-miterlimit:10;}
.st20{fill:#307AFA;stroke:#231F20;stroke-miterlimit:10;}
.st21{fill:#FA6505;stroke:#231F20;stroke-miterlimit:10;}
.st22{fill:#50FA05;stroke:#231F20;stroke-miterlimit:10;}
.st23{fill:#FAFAFA;stroke:#000000;stroke-miterlimit:10;}
.st24{fill:#4FF905;stroke:#000000;stroke-miterlimit:10;}
.st25{fill:#F90505;stroke:#000000;stroke-miterlimit:10;}
.st26{fill:#F9F905;stroke:#000000;stroke-miterlimit:10;}
.st27{fill:#890505;}
.st28{fill:#8C0505;}
.st29{fill:#860505;}
.st30{fill:#870505;}
.st31{fill:#101010;}
.st32{fill:#A5FA6D;}
.st33{fill:#FA7373;}
.st34{fill:#FAFA8F;}
.st35{fill:#FA0505;stroke:#000000;stroke-miterlimit:10;}
.st36{fill:#F00505;stroke:#000000;stroke-miterlimit:10;}
.st37{fill:#F40505;stroke:#000000;stroke-miterlimit:10;}
.st38{fill:#057979;stroke:#000000;stroke-miterlimit:10;}
.st39{fill:#05FAFA;stroke:#000000;stroke-miterlimit:10;}
.st40{fill:#70EF52;stroke:#000000;stroke-miterlimit:10;}
.st41{fill:#FA9A05;stroke:#000000;stroke-miterlimit:10;}
.st42{fill:#9AFACF;}