*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  // background-image: url(../img/fundoanticlareamento.png);
  background-color: #05A632;
  
}

html {
  font-size: 62.5%;
}